In [1]:
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.linear_model import LinearRegression

In [2]:
# train data
# ! git clone https://github.com/hfazliddin98/suniy-intelekt-darslar/blob/main/21-bolim%20Sertifikat%20uchun%20topshiriqlar/datasets/aviachipta-narxini-bashorat-qilish/train_data.csv
train = pd.read_csv('datasets/aviachipta-narxini-bashorat-qilish/train_data.csv', index_col=0)
train

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
id,,,,,,,,,,,
1,Vistara,UK-810,Bangalore,Early_Morning,one,Night,Mumbai,Economy,14.25,21,7212
2,SpiceJet,SG-5094,Hyderabad,Evening,zero,Night,Kolkata,Economy,1.75,7,5292
3,Vistara,UK-846,Bangalore,Morning,one,Evening,Delhi,Business,9.58,5,60553
4,Vistara,UK-706,Kolkata,Morning,one,Evening,Hyderabad,Economy,6.75,28,5760
5,Indigo,6E-5394,Chennai,Early_Morning,zero,Morning,Mumbai,Economy,2.00,4,10712
...,...,...,...,...,...,...,...,...,...,...,...
19996,Indigo,6E-6178,Bangalore,Night,one,Early_Morning,Mumbai,Economy,7.92,45,3153
19997,AirAsia,I5-582,Kolkata,Morning,one,Afternoon,Delhi,Economy,5.83,24,3911
19998,Vistara,UK-832,Chennai,Early_Morning,two_or_more,Evening,Bangalore,Economy,35.33,17,14822
19999,Vistara,UK-996,Mumbai,Evening,one,Morning,Bangalore,Economy,16.33,21,6450
20000,Vistara,UK-776,Kolkata,Evening,one,Morning,Chennai,Economy,18.25,26,7141

In [3]:
# test data
# ! git clone https://github.com/hfazliddin98/suniy-intelekt-darslar/blob/main/21-bolim%20Sertifikat%20uchun%20topshiriqlar/datasets/aviachipta-narxini-bashorat-qilish/train_data.csv
test = pd.read_csv('datasets/aviachipta-narxini-bashorat-qilish/test_data.csv', index_col=0)
test

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left
id,,,,,,,,,,
1,Air_India,AI-765,Kolkata,Evening,one,Night,Delhi,Business,28.25,2
2,Vistara,UK-747,Delhi,Early_Morning,one,Night,Mumbai,Business,13.83,34
3,Air_India,AI-570,Mumbai,Early_Morning,zero,Early_Morning,Chennai,Business,2.00,30
4,AirAsia,I5-974,Hyderabad,Night,one,Late_Night,Delhi,Economy,5.17,26
5,Air_India,AI-770,Kolkata,Night,one,Afternoon,Mumbai,Economy,16.33,35
...,...,...,...,...,...,...,...,...,...,...
4996,Air_India,AI-768,Kolkata,Afternoon,one,Morning,Bangalore,Business,17.42,15
4997,Indigo,6E-6214,Kolkata,Morning,zero,Afternoon,Mumbai,Economy,3.00,40
4998,Air_India,AI-402,Kolkata,Morning,one,Night,Mumbai,Business,11.17,37
4999,Air_India,AI-673,Mumbai,Early_Morning,one,Night,Hyderabad,Business,13.33,38
5000,Vistara,UK-774,Kolkata,Night,one,Afternoon,Delhi,Business,16.08,49

In [4]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5000 entries, 1 to 5000
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   airline           5000 non-null   object
 1   flight            5000 non-null   object
 2   source_city       5000 non-null   object
 3   departure_time    5000 non-null   object
 4   stops             5000 non-null   object
 5   arrival_time      5000 non-null   object
 6   destination_city  5000 non-null   object
 7   class             5000 non-null   object
 8   duration          5000 non-null   float64
 9   days_left         5000 non-null   int64
dtypes: float64(1), int64(1), object(8)
memory usage: 429.7+ KB

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20000 entries, 1 to 20000
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   airline           20000 non-null  object
 1   flight            20000 non-null  object
 2   source_city       20000 non-null  object
 3   departure_time    20000 non-null  object
 4   stops             20000 non-null  object
 5   arrival_time      20000 non-null  object
 6   destination_city  20000 non-null  object
 7   class             20000 non-null  object
 8   duration          20000 non-null  float64
 9   days_left         20000 non-null  int64
 10  price             20000 non-null  int64
dtypes: float64(1), int64(2), object(8)
memory usage: 1.8+ MB

In [6]:
# tarain datasetsga ajratoldi
x = train.drop(['price'], axis=1)
y = train['price']

In [7]:
# nomerlilarni ajratib olish
x_nomer = x[['duration','days_left']]
# maxsimum va minimum qiyamtlarni korib olish
x_nomer.describe()

           duration     days_left
count  20000.000000  20000.000000
mean      12.177627     25.924150
std        7.157944     13.624874
min        0.830000      1.000000
25%        6.830000     14.000000
50%       11.250000     26.000000
75%       16.080000     38.000000
max       38.580000     49.000000

In [8]:
# barcha malumotlar to`liq
x.isnull().sum()

airline             0
flight              0
source_city         0
departure_time      0
stops               0
arrival_time        0
destination_city    0
class               0
duration            0
days_left           0
dtype: int64

In [9]:
# barcha malumotlar to`liq
test.isnull().sum()

airline             0
flight              0
source_city         0
departure_time      0
stops               0
arrival_time        0
destination_city    0
class               0
duration            0
days_left           0
dtype: int64

In [10]:
y.isnull().sum()

0

In [11]:
# pipline qurilgan

nomer_pipeline = Pipeline([                    
          ('std_scaler', StandardScaler())             
])

In [12]:
x.columns

Index(['airline', 'flight', 'source_city', 'departure_time', 'stops',
       'arrival_time', 'destination_city', 'class', 'duration', 'days_left'],
      dtype='object')

In [13]:
test.columns

Index(['airline', 'flight', 'source_city', 'departure_time', 'stops',
       'arrival_time', 'destination_city', 'class', 'duration', 'days_left'],
      dtype='object')

In [14]:
# piplinega qoshimcha

num_attribs = list(x_nomer)
yozuv_attribs = ['airline', 'flight', 'source_city', 'departure_time', 'stops', 'arrival_time', 'destination_city', 'class']

barcha_pipeline = ColumnTransformer([
    ('nomer', nomer_pipeline, num_attribs),
    ('yozuv', OneHotEncoder(), yozuv_attribs)
])

In [15]:
# mlga tayorlash
barcha_malumot = barcha_pipeline.fit_transform(x)

In [16]:
barcha_malumot.toarray()

array([[ 0.28952803, -0.36141789,  0.        , ...,  1.        ,
         0.        ,  1.        ],
       [-1.45682723, -1.38897606,  0.        , ...,  0.        ,
         0.        ,  1.        ],
       [-0.36291029, -1.53577008,  0.        , ...,  0.        ,
         1.        ,  0.        ],
       ...,
       [ 3.23458153, -0.65500594,  0.        , ...,  0.        ,
         0.        ,  1.        ],
       [ 0.58012154, -0.36141789,  0.        , ...,  0.        ,
         0.        ,  1.        ],
       [ 0.84836171,  0.00556716,  0.        , ...,  0.        ,
         0.        ,  1.        ]])

In [17]:
# model qurish
Chiziqli_model = LinearRegression()

In [18]:
# train (o`qitish) chiqli model asosida o`qitildi
Chiziqli_model.fit(barcha_malumot, y)

LinearRegression()

In [19]:
# test datani sinovga tayorlash
test_malumot = barcha_pipeline.fit_transform(test)
test_malumot.toarray()

array([[ 2.17930407, -1.75411081,  0.        , ...,  0.        ,
         1.        ,  0.        ],
       [ 0.20548051,  0.58318436,  0.        , ...,  1.        ,
         1.        ,  0.        ],
       [-1.41382134,  0.29102246,  0.        , ...,  0.        ,
         1.        ,  0.        ],
       ...,
       [-0.15862287,  0.80230578,  0.        , ...,  1.        ,
         1.        ,  0.        ],
       [ 0.13704002,  0.87534626,  0.        , ...,  0.        ,
         1.        ,  0.        ],
       [ 0.51346269,  1.67879147,  0.        , ...,  0.        ,
         1.        ,  0.        ]])

### bashorat qilish

In [20]:
# bashorat
test_javob = Chiziqli_model.predict(test_malumot)
test_javob

ValueError: X has 978 features, but LinearRegression is expecting 1347 features as input.