In [1]:
import pandas as pd
import numpy as np

In [2]:
data1 = pd.Series(np.random.randn(9), index=[['a','a','a','b','b','c','c','d','d'], [1,2,3,1,3,1,2,2,3]])# irarhik indexlash Ser
data1.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

unstack

In [3]:
data1

a  1   -0.046026
   2   -0.490963
   3   -1.616838
b  1   -1.620106
   3    1.019136
c  1    0.407616
   2   -0.353701
d  2   -0.418084
   3    1.457649
dtype: float64

In [6]:
data1.unstack() # sochilgan Ser DataFrame korinishida qaytaradi

          1         2         3
a -0.046026 -0.490963 -1.616838
b -1.620106       NaN  1.019136
c  0.407616 -0.353701       NaN
d       NaN -0.418084  1.457649

In [9]:
# data1.unstack().stack() # bunda ham bir hil natija
df = data1.unstack()
df.stack() # DataFramni yigilgan Ser ga qaytaradi

a  1   -0.046026
   2   -0.490963
   3   -1.616838
b  1   -1.620106
   3    1.019136
c  1    0.407616
   2   -0.353701
d  2   -0.418084
   3    1.457649
dtype: float64