In [2]:
import pandas as pd
import numpy as np

In [3]:
! git clone https://github.com/MansurCompAI/Practicum_Datasets

Cloning into 'Practicum_Datasets'...
remote: Enumerating objects: 60, done.
remote: Counting objects: 100% (60/60), done.
remote: Compressing objects: 100% (55/55), done.
remote: Total 60 (delta 17), reused 16 (delta 1), pack-reused 0
Unpacking objects: 100% (60/60), 20.24 MiB | 7.52 MiB/s, done.

uzun datasetdan Keng dataset olish (pivot)

In [4]:
data = pd.read_csv('/content/Practicum_Datasets/data_pivot.csv')
data

                              date     item      value
0    1959-03-31 23:59:59.999999999  realgdp   2710.349
1    1959-03-31 23:59:59.999999999     infl      0.000
2    1959-03-31 23:59:59.999999999    unemp      5.800
3    1959-06-30 23:59:59.999999999  realgdp   2778.801
4    1959-06-30 23:59:59.999999999     infl      2.340
..                             ...      ...        ...
604  2009-06-30 23:59:59.999999999     infl      3.370
605  2009-06-30 23:59:59.999999999    unemp      9.200
606  2009-09-30 23:59:59.999999999  realgdp  12990.341
607  2009-09-30 23:59:59.999999999     infl      3.560
608  2009-09-30 23:59:59.999999999    unemp      9.600

[609 rows x 3 columns]

In [5]:
pivoted_data = data.pivot('date', 'item', 'value')
pivoted_data

<ipython-input-5-c887c3406cbd>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.pivot will be keyword-only.
  pivoted_data = data.pivot('date', 'item', 'value')

item                           infl    realgdp  unemp
date
1959-03-31 23:59:59.999999999  0.00   2710.349    5.8
1959-06-30 23:59:59.999999999  2.34   2778.801    5.1
1959-09-30 23:59:59.999999999  2.74   2775.488    5.3
1959-12-31 23:59:59.999999999  0.27   2785.204    5.6
1960-03-31 23:59:59.999999999  2.31   2847.699    5.2
...                             ...        ...    ...
2008-09-30 23:59:59.999999999 -3.16  13324.600    6.0
2008-12-31 23:59:59.999999999 -8.79  13141.920    6.9
2009-03-31 23:59:59.999999999  0.94  12925.410    8.1
2009-06-30 23:59:59.999999999  3.37  12901.504    9.2
2009-09-30 23:59:59.999999999  3.56  12990.341    9.6

[203 rows x 3 columns]

In [6]:
data['value2']= np.random.randn(len(data))
data

                              date     item      value    value2
0    1959-03-31 23:59:59.999999999  realgdp   2710.349 -2.044250
1    1959-03-31 23:59:59.999999999     infl      0.000  0.768429
2    1959-03-31 23:59:59.999999999    unemp      5.800 -1.113592
3    1959-06-30 23:59:59.999999999  realgdp   2778.801  0.728454
4    1959-06-30 23:59:59.999999999     infl      2.340 -0.914985
..                             ...      ...        ...       ...
604  2009-06-30 23:59:59.999999999     infl      3.370 -2.016053
605  2009-06-30 23:59:59.999999999    unemp      9.200 -1.518126
606  2009-09-30 23:59:59.999999999  realgdp  12990.341 -0.136870
607  2009-09-30 23:59:59.999999999     infl      3.560 -0.625791
608  2009-09-30 23:59:59.999999999    unemp      9.600  0.659232

[609 rows x 4 columns]

In [7]:
pivot_data = data.pivot('date', 'item') # yangi datafremni irarhik korinishga keltirish
pivot_data

<ipython-input-7-e96b4298e86f>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.pivot will be keyword-only.
  pivot_data = data.pivot('date', 'item') # yangi datafremni irarhik korinishga keltirish

                              value                     value2            \
item                           infl    realgdp unemp      infl   realgdp
date
1959-03-31 23:59:59.999999999  0.00   2710.349   5.8  0.768429 -2.044250
1959-06-30 23:59:59.999999999  2.34   2778.801   5.1 -0.914985  0.728454
1959-09-30 23:59:59.999999999  2.74   2775.488   5.3 -0.461800 -0.667392
1959-12-31 23:59:59.999999999  0.27   2785.204   5.6 -0.010812  1.127900
1960-03-31 23:59:59.999999999  2.31   2847.699   5.2  0.067842  0.839799
...                             ...        ...   ...       ...       ...
2008-09-30 23:59:59.999999999 -3.16  13324.600   6.0 -1.471356 -0.569215
2008-12-31 23:59:59.999999999 -8.79  13141.920   6.9  0.322552 -0.230901
2009-03-31 23:59:59.999999999  0.94  12925.410   8.1  0.181692 -0.916752
2009-06-30 23:59:59.999999999  3.37  12901.504   9.2 -2.016053 -1.353150
2009-09-30 23:59:59.999999999  3.56  12990.341   9.6 -0.625791 -0.136870


item                              unemp
date
1959-03-31 23:59:59.999999999 -1.113592
1959-06-30 23:59:59.999999999 -2.281986
1959-09-30 23:59:59.999999999 -1.512872
1959-12-31 23:59:59.999999999 -1.002813
1960-03-31 23:59:59.999999999 -0.001255
...                                 ...
2008-09-30 23:59:59.999999999  0.302713
2008-12-31 23:59:59.999999999  0.515741
2009-03-31 23:59:59.999999999 -0.980314
2009-06-30 23:59:59.999999999 -1.518126
2009-09-30 23:59:59.999999999  0.659232

[203 rows x 6 columns]